@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PerfoRay</title>
        
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="My tool for measuring web-sites performance">
    <meta name="author" content="mitutee">
    <title>Freelancer - Start Bootstrap Theme</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/freelancer-template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="~/freelancer-template/css/freelancer.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/freelancer-template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

     <link rel="stylesheet" href="~/css/site.css" />


    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

        @RenderBody()
        

        <!-- Footer -->
        <footer class="text-center">
         
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; mitutee 2017
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        

        <script src="~/lib/jquery/dist/jquery.js"></script>
        
    
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        
    

        <!-- Plugin JavaScript -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

        <!-- Theme JavaScript -->
        <script src="~/freelancer-template/js/freelancer.min.js"></script>


        <script src="~/js/site.js" asp-append-version="true"></script>
        

    @RenderSection("Scripts", required: false)
</body>
</html>
